.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("../asset/images/map-background.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 250% 250%;
  font-family: ZenAntique;
}

.container .container-filter {
  opacity: 0.3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #bbeda0;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 0 5000px #bbeda0;
          box-shadow: 0px 0px 0 5000px #bbeda0;
}

@media screen and (max-width: 426px) {
  .container {
    background-image: unset;
    background-color: #baeda2;
  }
}

.container .backBtn {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 6px;
  left: 6px;
  z-index: 10;
  background-color: #80b55e;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 3px 0px 2px #599633;
          box-shadow: 2px 3px 0px 2px #599633;
  cursor: pointer;
}

.container .backBtn:hover {
  -webkit-box-shadow: inset 2px 3px 0px 2px #599633;
          box-shadow: inset 2px 3px 0px 2px #599633;
}

.container .backBtn .backBtn-box {
  width: 60px;
  height: 50px;
  margin: auto;
}

.container .backBtn .backBtn-box .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .goon {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: mapAnimate 2s  forwards;
          animation: mapAnimate 2s  forwards;
  text-align: center;
  display: none;
}

.container .goon p {
  font-size: 150px;
  font-weight: bolder;
  background-color: #0f360f;
  color: transparent;
  text-shadow: 2px 3px 4px #baeda2;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container .butterfly-box {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.container .butterfly-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .audio-background {
  position: absolute;
  top: 30%;
  left: 2%;
  z-index: 2;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 426px) {
  .container .audio-background {
    display: none;
  }
}

.container .audio-background .audio-btn {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .bench {
  position: absolute;
  width: 100px;
  height: auto;
  top: 13%;
  left: 61%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .bench img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .foutain {
  position: absolute;
  width: 150px;
  height: auto;
  top: 73%;
  left: 29%;
}

.container .foutain img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .light {
  position: absolute;
  width: 20px;
  height: auto;
  top: 5%;
  left: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .light .light-shadow {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #ffff03cf;
  border-radius: 50%;
  z-index: 0;
  top: -22%;
  -webkit-animation: light 3s linear infinite;
          animation: light 3s linear infinite;
}

.container .light.light2 {
  top: 5%;
  left: 36%;
}

.container .light.light3 {
  top: 70%;
  left: 5%;
}

.container .light img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.container .main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw * 3);
  height: calc(100vh * 2);
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: transparent;
}

.container .map-container {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 5px;
  right: 5px;
  background-image: url("../asset//images/map-background.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 426px) {
  .container .map-container {
    -webkit-transform: scale(0.7) translate(22%, 28%);
            transform: scale(0.7) translate(22%, 28%);
    display: none;
  }
}

.container .map {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: auto;
  z-index: 0;
}

@media screen and (max-width: 426px) {
  .container .map {
    width: 150px;
    height: 150px;
  }
}

.container .victor {
  width: 350px;
  height: 230px;
  position: absolute;
  top: -5%;
  left: 5px;
  background-image: url("../asset/images/woodkanban.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.container .victor .victor-content {
  position: relative;
  top: 10%;
  margin: auto;
  text-align: center;
}

.container .victor .victor-content p {
  color: #ffff;
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: left;
}

.container .victor .victor-content p span {
  font-size: 30px;
  font-weight: bold;
}

.container .ranking {
  position: absolute;
  bottom: 0;
  left: 6px;
  width: 100px;
  height: 100px;
  background-image: url("../asset/images/crown.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 10;
}

.container .ranking:hover {
  -webkit-animation: scaleAnimate 1s linear infinite;
          animation: scaleAnimate 1s linear infinite;
}

@-webkit-keyframes mapAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mapAnimate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scaleAnimate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  70% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes scaleAnimate {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  70% {
    -webkit-transform: scale(1.1) rotate(5deg);
            transform: scale(1.1) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@-webkit-keyframes light {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
  }
  30%, 50% {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
  }
}

@keyframes light {
  0% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
  }
  30%, 50% {
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 20px rgba(255, 255, 0, 0.842), 0 0 40px rgba(255, 255, 0, 0.842), 0 0 80px rgba(255, 255, 0, 0.842), 0 0 120px rgba(255, 255, 0, 0.842), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842);
  }
  100% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
            box-shadow: 0 0 10px rgba(255, 255, 0, 0.63), 0 0 200px rgba(255, 255, 0, 0.842), 0 0 240px rgba(255, 255, 0, 0.842), 0 0 300px rgba(255, 255, 0, 0.842), 0 0 400px rgba(255, 255, 0, 0.842);
  }
}
/*# sourceMappingURL=mainscreen.css.map */