$backgroundColor: red;
$map-container-width : 250px;
$map-container-height : 250px;

$map-width : 100vw / 7;
$map-height : 100vh / 7;
$map-item-width: $map-width / 5;
$map-item-height: $map-height / 5;

$mobile-map-width : 150px;
$mobile-map-height : 150px;
$mobile-map-item-width: $mobile-map-width / 4;
$mobile-map-item-height: $mobile-map-height / 4;

