@import "./mixing";

.area {
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;

  .area-background{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: animate 1.5s ease-in-out forwards;
      transition: 1s ease-in-out;
      .area-background-img{
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }

  .area-imgBox {
    width: 50%;
    height: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 7%;
    z-index: 2;
    opacity: 1;
    transition: 1s ease-in-out;
    
    &:hover{
      transform: scale(1.1);
      animation: mapItemAnimate 5s infinite linear;
    }
    &.active {
      width: 36%;
      height: 36%;
      bottom: 35%;
    }
    @include breakpoint(mobile){
      // display: none;
    }    
  }
  .area-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .students-box {
    width: 100%;
    height: 100%;
    position: absolute;
    // display: flex;
    // justify-content: center;
    // align-items: flex-end;
    // flex-wrap: wrap;
    // padding: 150px;
    transition: 1.5s;
    transition-delay: 3s;
    animation: animate 2s ease-in-out forwards;
    z-index: 3;
    .student {
      position: absolute;
      top: 30%;
      left: 5%;
      .student-infor {
        display: none;
        position: absolute;
        width: 230px;
        min-height: 300px;
        top: -110%;
        left: 90%;
        background-color: #ffff;
        text-align: left;
        padding: 20px;
        border-radius: 16px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        transform: scale(0);
        transform-origin: center left 5px ;
        z-index: 10;
        
        .student-infor-layout{
          min-width: 160px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          margin: auto;
          .student-power{
            padding: 10px 5px;
            margin: auto;
            text-align: center;

            border: 1px solid #000;
            border-left: none;
            border-right: none;
            margin-bottom: 10px;
          }
        }

        .student-infor-triangle{
          position: absolute;
          width: 0;
          height: 0;
          bottom: 0;
          left: 0;
          border-style: solid;
          border-width: 100px 200px 100px 0;
          border-color: transparent #ffff transparent transparent;
          transform: rotate(235deg);
          z-index: -1;

          @include breakpoint(mobile){
            display: none;
          }
        }
        .student-close {
          position: absolute;
          top: -10px;
          right: -10px;
          cursor: pointer;
          width: 60px;
          height: 60px;
          &:hover{
            transform: scale(1.1);
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .student-infor-header {
          text-align: left;
          
          .student-number {
            p{

              font-size: 14px;
            }

          }
          .student-name {
            margin-bottom: 10px;
          }
        }
        .student-title {
          margin: 10px auto;
          font-weight: 600;
          span {
            margin-left: 10px;
            font-weight: normal;
          }
        }

        .student-info-body {
          position: relative;
          width: 100%;

          li{
            list-style: none;
            text-align: left;
            display: none;

            .student-score-content{

              display: flex;
              justify-content: space-between;
              align-items: center;

              span{
                font-size: 12px;
                font-weight: normal;
                flex: 1;
                margin-left: 5px;
              }
              p{
                margin-right: 10px;
              }
              
              .score-icon{
                width: 30px;
                height: 30px;
  
                img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

          }
        }
        p {
          font-weight: normal;
          font-size: 18px;
          color: #000;
          display: block;
        }
      }
    }
    p {
      margin: auto;
      display: block;
      font-size: 24px;
      color: #ffff;
    }
  }
  @include breakpoint(mobile) {
    font-size: 20px;
  }
  .area-board{
    width: 280px;
    height: 250px;
    position: absolute;
    bottom: -2%;
    left: -2%;
    background-image: url('../asset/images/area-kanban.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    
    .area-content{
      color: #ffff;
      margin-top: 53px;
      span{
        font-size: 30px;
      }
      
    }
  }
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
