@import "./variables";
@import "./mixing";


.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url('../asset/images/map-background.svg');
  background-repeat: no-repeat;
  background-position:50% 50%;
  background-size: 250% 250%;
  font-family: ZenAntique;
  cursor: none;
  .container-filter{
    // display: none;
    opacity:0.3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #bbeda0;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow:0px 0px 0 5000px #bbeda0;
    z-index: 2;
  }
  @include breakpoint(mobile){
    background-image: unset;
    background-color: #baeda2;
  }
  .cursor{
    position: absolute;
    width: 50px;
    height: 110px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #0000;
    z-index: 11;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    background-image: url('../asset/images/cursor2.png');
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;

  }
  .backBtn {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 6px;
    left: 6px;
    z-index: 10;
    background-color: #FDFDF5;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 0px 2px #C7C7C7;
    cursor: none;
    &:hover{
      box-shadow: inset 2px 3px 0px 2px #C7C7C7;
    }
    // .backBtn-shadow{
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   width: 100px;
    //   height: 100px;
    //   background-color: #ffff03cf;
    //   border-radius: 50%;
    //   z-index: 0;
    //   // animation: light 3s linear infinite;
    //   transform: translate(-50%, -50%);
    //   box-shadow:0px 0px 0 50px #ffff03cf,
    //   0px 0px 0px 100px #ffff03cf,
    //   0px 0px 0px 150px #ffff03cf,
    //   0px 0px 0px 200px #ffff03cf;
    // }
    .backBtn-box{
      width: 60px;
      height: 50px;
      margin: auto;
      .logo{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
    .goon{
      position: absolute;
      width: 100%;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: mapAnimate 2s  forwards;
      text-align: center;
      display: none;
      p{
        
        font-size: 150px;
        font-weight: bolder;
        background-color: rgb(15, 54, 15);
        color: transparent;
        text-shadow: 2px 3px 4px #baeda2;
        -webkit-background-clip: text;
        background-clip: text;
        transition: 1s ease-in-out;
      }
    }
    .butterfly-box{
      width: 75px;
      height: 75px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        
      }
      
    }
  
  .audio-background{
    position:absolute;
    top: 30%;
    left: 2%;
    z-index: 2;
    width: 50px;
    height: 50px;
    @include breakpoint(mobile){
      display: none;
    }
    .audio-btn{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .bench{
    position: absolute;
    width: 100px;
    height: auto;
    top: 13%;
    left: 61%;
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .foutain{
    position: absolute;
    width: 150px;
    height: auto;
    top: 73%;
    left: 29%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .light{
    position: absolute;
    width: 20px;
    height: auto;
    top: 5%;
    left: 90%;
    display: flex;
    justify-content: center;
    z-index: 2;
    .light-shadow{
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #ffff03cf;
      border-radius: 50%;
      z-index: 0;
      top: -22%;
      animation: light 3s linear infinite;
    }
    &.light2{
      top: 5%;
      left: 36%;
    }
    &.light3{
      top: 70%;
      left: 5%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
  }
  .main-screen {
    display: flex;
    width: calc(100vw * 3);
    height: calc(100vh * 2);
    position: relative;
    flex-wrap: wrap;
    background: transparent;
  }
  .map-container{
    width: $map-container-width;
    height: $map-container-height;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-image: url('../asset//images/map-background.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    &:hover{
      transform: scale(1.1);
    }
    @include breakpoint(mobile){
      transform: scale(0.7) translate(22%, 28%);
      display: none;
    }
    
  }
  .map {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // border: 1px solid #000;
    align-items: center;
    position: absolute;
    // background-color: #ffff;
    // background: transparent;
    margin: auto;
    z-index: 0;
    @include breakpoint(mobile){
      width: $mobile-map-width;
      height: $mobile-map-height;
    }
  }

  .victor{
    width: 370px;
    height: 250px;
    position: absolute;
    top: -5%;
    left: 5px;
    background-image: url('../asset/images/woodkanban.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
      .victor-content{
      position: relative;
      top: 10%;
      margin: auto;
      text-align: center;
      p{
        color: #ffff;
        font-weight: bold;
        font-size: 16px;
        display: block;
        text-align: left;
        span{
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }

  .ranking{
    position: absolute;
    bottom: 0;
    left: 6px;
    width: 100px;
    height: 100px;
    background-image: url('../asset/images/crown.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    z-index: 10;
    &:hover{
      animation: scaleAnimate 1s linear infinite;
    }

    }
  
    
  
}
@keyframes mapAnimate {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
@keyframes scaleAnimate {
  0%{
    transform: scale(1) rotate(0deg);

  }
  50%{
    transform: scale(1.1) rotate(5deg);

  }
  70%{
    transform: scale(1.1) rotate(5deg);

  }
  100%{
    transform: scale(1) rotate(0deg);

  }
}
@keyframes light {
  0%{
    filter: blur(2px);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.63),
    0 0 20px rgba(255, 255, 0, 0.842),
    0 0 40px rgba(255, 255, 0, 0.842),
    0 0 80px rgba(255, 255, 0, 0.842),
    0 0 120px rgba(255, 255, 0, 0.842),
    0 0 200px rgba(255, 255, 0, 0.842),
    0 0 240px rgba(255, 255, 0, 0.842),
    0 0 300px rgba(255, 255, 0, 0.842),
    0 0 400px rgba(255, 255, 0, 0.842);
  }
  30%,50%{
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.63),
    0 0 20px rgba(255, 255, 0, 0.842),
    0 0 40px rgba(255, 255, 0, 0.842),
    0 0 80px rgba(255, 255, 0, 0.842),
    0 0 120px rgba(255, 255, 0, 0.842),
    0 0 200px rgba(255, 255, 0, 0.842),
    0 0 240px rgba(255, 255, 0, 0.842),;
  }
  100%{
    filter: blur(2px);
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.63),
    0 0 200px rgba(255, 255, 0, 0.842),
    0 0 240px rgba(255, 255, 0, 0.842),
    0 0 300px rgba(255, 255, 0, 0.842),
    0 0 400px rgba(255, 255, 0, 0.842);
  }
}